<div class="row">
	<div id="spot_show">
		<div class="col-md-8">
			<div class="panel panel-default">
				<div class="panel-heading spot_image">
					<%= image_tag @spot.image.url(:large) %>
				</div>
				<div class="panel-body">
					<h1><%= @spot.vehicle %></h1>
					<p><%= @spot.description %></p>	
				</div>
				<div class="panel-footer">
					<div class="row">
						<div class="col-md-6">
							<% if current_user == @spot.user %>
								<div class="btn-group pull-left">
									<%= link_to "Edit", edit_spot_path, class: "btn btn-default" %>
									<%= link_to "Delete", spot_path, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-default" %>
								</div>
							<% else %>
								<%= link_to "#", class: "btn btn-default" do %>
									<span class="glyphicon glyphicon-flash"> Challenge</span>
								<% end %>
							<% end %>
						</div>
						<div class="col-md-6">
							<div class="btn-group pull-right">
								<%= link_to like_spot_path(@spot), method: :get, class: "btn btn-default" do %>
									<span class="fa fa-thumbs-o-up"> <%= @spot.get_upvotes.size %></span>
								<% end %>
								<%= link_to dislike_spot_path(@spot), method: :get, class: "btn btn-default" do %>
									<span class="fa fa-thumbs-o-down"> <%= @spot.get_downvotes.size %></span>
								<% end %>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="comments">
				<h2 class="comment_count"><%= pluralize(@spot.comments.count, "Comment") %></h2>
				<% @comments.each do |comment| %>
					<div class="comment">
						<p class="username"><%= comment.user.email %></p>
						<p class="content"><%= comment.content %></p>
					</div>
				<% end %>
				<%= render 'comments/form' %>
			</div>
		</div>
	<div class="col-sm-6 col-md-4 ">
		<%= render 'layouts/profile' %>
	</div>
</div>