<%= image_tag @spot.image.url(:large) %>


<h1><%= @spot.vehicle %></h1>
<h2><%= @spot.description %></h2>
<p>Spotted by <%= @spot.user.email %> </p> 

<%= link_to "Back", root_path %>
<%= link_to "Edit", edit_spot_path %>
<%= link_to "Delete", spot_path, method: :delete, data: {confirm: "Are you sure?"} %>