<!-- <div class="row">
    <div class="col-xs-12">
      <div class="well user-box emboss">
        <div class="dp-box">
          <%= image_tag(@user.avatar.url, class: "img-circle img-responsive dp-box-image") %>
        </div>
        <div class="profile">
          <h1><b>Hello,</b> <%= @user.username %></h1>
        </div>
      </div>
    </div>
  </div>
<br> -->
<div class="row">
  <div class="col-sm-3">
    <div class="dark-panel panel-default">
      <div class="panel-heading fuel_heading text-muted emboss">Profile</div>
        <ul class="list-group">
          <li class="list-group-item text-right dark-list list-top"><span class="pull-left"><strong class="">Joined</strong></span><%= @user.created_at.strftime("%b %d, %Y") %></li>
          <li class="list-group-item text-right dark-list"><span class="pull-left"><strong class="">Last seen</strong></span><%= time_ago_in_words(@user.last_sign_in_at) %> ago</li>
          <li class="list-group-item text-right dark-list"><span class="pull-left"><strong class="">Rank: </strong></span> Car Czar</li>
        </ul>
    </div>  
    <div class="dark-panel panel-default">
      <div class="panel-heading fuel_heading text-muted emboss">Activity <i class="fa fa-dashboard fa-1x"></i></div>
        <ul class="list-group">
          <li class="list-group-item text-right dark-list list-top"><span class="pull-left"><strong class="">Spots</strong></span> <%= @user.spots.size %></li>
          <li class="list-group-item text-right dark-list"><span class="pull-left"><strong class="">Likes</strong></span> 23</li>
          <li class="list-group-item text-right dark-list"><span class="pull-left"><strong class="">Posts</strong></span> 37</li>
          <li class="list-group-item text-right dark-list"><span class="pull-left"><strong class="">Followers</strong></span> 78</li>
        </ul>
    </div>
    <% if @user.website? %>
      <div class="dark-panel panel-default">
        <div class="panel-heading fuel_heading emboss">Website <i class="fa fa-link fa-1x"></i>
        </div>
        <div class="panel-body fuel-body emboss"><%= link_to @user.website, "http://#{@user.website}", target: "_blank" %>
        </div>
      </div>
    <% end %>
    <div class="dark-panel panel-default">
        <div class="panel-heading fuel_heading emboss">Social Media</div>
        <div class="panel-body fuel-body emboss text-center">
          <%= link_to "http://#{@user.facebook}", target: "_blank" do %>
            <span class="fa fa-facebook fa-2x">
          <% end %> <i> | </i>
          <%= link_to "http://#{@user.twitter}", target: "_blank" do %>
            <span class="fa fa-twitter fa-2x">
          <% end %><i> | </i>
          <%= link_to "http://#{@user.instagram}", target: "_blank" do %>
            <span class="fa fa-instagram fa-2x">
          <% end %><i> | </i>
          <%= link_to "http://#{@user.google_plus}", target: "_blank" do %>
            <span class="fa fa-google-plus fa-2x">
          <% end %><i> | </i>
          <%= link_to "http://#{@user.youtube}", target: "_blank" do %>
            <span class="fa fa-youtube fa-2x">
          <% end %><i> | </i>
        </div>
    </div>
  </div>
      <!--/col-3-->
    <div class="col-sm-9">
      <% if @user.bio? %>
        <div class="dark-panel panel-default">
            <div class="panel-heading fuel_heading emboss"><%= @user.username %>'s Bio</div>
            <div class="panel-body fuel-body emboss"> <%= @user.bio %>
            </div>
        </div>
      <% end %>
        <div class="dark-panel panel-default">
            <div class="panel-heading fuel_heading emboss">
              <%= @user.username %>'s Spots
              <% if @user == current_user %>
                <%= link_to "Spot Something?", new_spot_path, class: "pull-right" %>
              <% end %>
            </div>
            <div class="panel-body fuel-body emboss">
<!--               <div class="row"> -->
                <div id="spotz" class="transitions-enabled">
              	<%= render @spots %>
              </div>
<!--               </div> -->
            </div>  	
        </div>
    </div>
</div>
