<nav class="navbar navbar-default fuel-nav">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand navbar-brand-centered"><%= link_to "Fuel", root_path %></div>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
        	<li><%= link_to "New Spot", new_spot_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= current_user.username %> <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Account", edit_user_registration_path %></li>
              <li class="divider"></li>
              <li class="dropdown-header">Callin' it quits?</li>
              <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
       	<% else %>
       		<li><%= link_to "Sign Up", new_user_registration_path %></li>
					<li><%= link_to "Sign In", new_user_session_path %></li>
				<% end %>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="input-group">
            <input type="text" class="form-control fuel-search emboss" placeholder="Search" name="srch-term" id="srch-term">
            <div class="input-group-btn">
                <button class="btn btn-default fuel-search-btn emboss" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
<!--         <button type="submit" class="btn btn-default"><i class= "fa fa-search"></i></button> -->
      </form>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</nav>
